{% paginate blog.articles by 5 %}

{% if current_tags %}
<h2>{{ blog.title | link_to: blog.url }} &raquo; {{ current_tags.first }}</h2>
{% else %}
<h2>{{ blog.title }}</h2>
{% endif %}

  {% for article in blog.articles %}
  <div class="blog-article {% if forloop.last %}no-border{% endif %}">
    <h3 class="blog-title"><a href="{{ article.url }}">{{ article.title }}</a> </h3>
    <div class="blog-data">
      {{ article.published_at | date: '%b %d, %Y' }}
      {% if blog.comments_enabled? %}
        - <a href="{{ article.url }}#comments">{{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}</a>
      {% endif %}
    </div>
    <div class="blog-content rte">
        {{ article.excerpt_or_content }}
    </div>
    
    <div class="clearfix">
      {% if article.tags.size > 0 %}      
      <div class="blog-tags left">
        tags:
        {% for tag in article.tags %} 
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </div>
      {% endif %}
      <div class="blog-read-more right">
        <a class="btn" href="{{ article.url }}">Read more →</a>
      </div>
    </div>
  </div>
  {% endfor %}

    
{% if paginate.pages > 1 %}
<div class="pagination">
  {{ paginate | default_pagination }}
</div>
{% endif %}

{% endpaginate %}