<div class="product left {% cycle '','','','last' %}">
  <div class="product-thumb">
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" />
    </a>
  </div>
  <div class="product-title">
    <a href="{{ product.url | within: collection }}">
        {{ product.title }}
      </a>
  </div>
  <div class="product-price">
    {% if product.price_varies %}From{% endif %}
    {{ product.price | money }}
  </div>
</div>